
<br><br>
<h1>Current Count: {{ countObervable | async }}</h1><br> <!-- async returns back the latest value that countObservable has emitted and automatically unsubscribes the observable when component gets destroyed-->
<button class="btn btn-success" (click)="increment()">Increment</button>  | 
<button class="btn btn-warning" (click)="decrement()">Decrement</button>  | 

<button class="btn btn-danger" (click)="reset()">Reset Counter</button>